<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>myjsp</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
		<description>로깅 여부</description>
		<param-name>logEnabled</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<description>디버깅 레벨</description>
		<param-name>debugLevel</param-name>
		<param-value>5</param-value>
	</context-param>
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
	<servlet>
		<servlet-name>chap19/servlet3</servlet-name>
		<servlet-class>chap19.sample.ServletEx3</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>chap19/servlet3</servlet-name>
		<url-pattern>/chap19/servletex3</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>chap19/servlet3</servlet-name>
		<url-pattern>/chap19/servletex4</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>chap19/filter3</filter-name>
		<filter-class>chap19.sample.FilterEx3</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>chap19/filter3</filter-name>
		<servlet-name>chap19/servlet3</servlet-name>
	</filter-mapping>
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>util.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- commnets -->
	<servlet>
		<servlet-name>ControllerUsingURI</servlet-name>
		<servlet-class>chap18.ControllerUsingURI</servlet-class>
		<init-param>
			<param-name>configFile</param-name>
			<param-value>/WEB-INF/commandHandlerURI.properties</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControllerUsingURI</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
</web-app>